.go-back-btn {
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: grid;
  place-items: center;
}